# Number of SNPs - *de novo* STACKS

In [1]:
import glob
import re
import pandas as pd
import os

In [2]:
!pwd

/data/users/sousal/03_compare_methods/04_denovo

In [3]:
# Find files recursively em sub directories
files = glob.glob("00_denovo_populations/*_populations*/populations.log", recursive=True)  # Find in all sub directories
print(f"Find {len(files)} files")

Find 12 files

In [26]:
results = []

for file in files:
    try:
        with open(file, 'r') as f:
            for line in f:
                # Find specific line
                if 'variant sites remained' in line:
                    match = re.search(r'(\d+)\s*variant sites remained', line)
                    if match:
                        variant_sites = int(match.group(1))
                        results.append({
                            'File': file,
                            'Directory': os.path.dirname(file),
                            'Variant_Sites': variant_sites
                        })
                    break  # Stop after find it
                    
    except Exception as e:
        print(f"Error em {file}: {e}")

df = pd.DataFrame(results)
print(f"✅ Extracted {len(df)} values")
display(df.head())

✅ Extracted 12 values

,File,Directory,Variant_Sites
0,00_denovo_populations/grp_populations_50/popul...,00_denovo_populations/grp_populations_50,3224
1,00_denovo_populations/alti_populations_95/popu...,00_denovo_populations/alti_populations_95,1199
2,00_denovo_populations/phylo_populations_90/pop...,00_denovo_populations/phylo_populations_90,3575
3,00_denovo_populations/phylo_populations_95/pop...,00_denovo_populations/phylo_populations_95,2014
4,00_denovo_populations/phylo_populations_50/pop...,00_denovo_populations/phylo_populations_50,17845

In [27]:
df['Directory'] = df['Directory'].str.replace('00_denovo_populations/','', regex='False')
df.head()

,File,Directory,Variant_Sites
0,00_denovo_populations/grp_populations_50/popul...,grp_populations_50,3224
1,00_denovo_populations/alti_populations_95/popu...,alti_populations_95,1199
2,00_denovo_populations/phylo_populations_90/pop...,phylo_populations_90,3575
3,00_denovo_populations/phylo_populations_95/pop...,phylo_populations_95,2014
4,00_denovo_populations/phylo_populations_50/pop...,phylo_populations_50,17845

In [28]:
df[["Group", "Missing"]] = df["Directory"].str.split("_populations_", n=1,expand=True)
df.head()

,File,Directory,Variant_Sites,Group,Missing
0,00_denovo_populations/grp_populations_50/popul...,grp_populations_50,3224,grp,50
1,00_denovo_populations/alti_populations_95/popu...,alti_populations_95,1199,alti,95
2,00_denovo_populations/phylo_populations_90/pop...,phylo_populations_90,3575,phylo,90
3,00_denovo_populations/phylo_populations_95/pop...,phylo_populations_95,2014,phylo,95
4,00_denovo_populations/phylo_populations_50/pop...,phylo_populations_50,17845,phylo,50

In [29]:
df

,File,Directory,Variant_Sites,Group,Missing
0,00_denovo_populations/grp_populations_50/popul...,grp_populations_50,3224,grp,50
1,00_denovo_populations/alti_populations_95/popu...,alti_populations_95,1199,alti,95
2,00_denovo_populations/phylo_populations_90/pop...,phylo_populations_90,3575,phylo,90
3,00_denovo_populations/phylo_populations_95/pop...,phylo_populations_95,2014,phylo,95
4,00_denovo_populations/phylo_populations_50/pop...,phylo_populations_50,17845,phylo,50
5,00_denovo_populations/alti_populations_50/popu...,alti_populations_50,23821,alti,50
6,00_denovo_populations/grp_populations_80/popul...,grp_populations_80,257,grp,80
7,00_denovo_populations/phylo_populations_80/pop...,phylo_populations_80,7691,phylo,80
8,00_denovo_populations/alti_populations_80/popu...,alti_populations_80,10323,alti,80
9,00_denovo_populations/alti_populations_90/popu...,alti_populations_90,4175,alti,90
10,00_denovo_populations/grp_populations_90/popul...,grp_populations_90,45,grp,90
11,00_denovo_populations/grp_populations_95/popul...,grp_populations_95,16,grp,95

In [32]:
df_ordem = df[['Group', 'Missing', 'Variant_Sites']]
df_ordem

    Group Missing  Variant_Sites
0     grp      50           3224
1    alti      95           1199
2   phylo      90           3575
3   phylo      95           2014
4   phylo      50          17845
5    alti      50          23821
6     grp      80            257
7   phylo      80           7691
8    alti      80          10323
9    alti      90           4175
10    grp      90             45
11    grp      95             16

In [33]:
df_sorted = df_ordem.sort_values(['Group', 'Missing']).reset_index(drop=True)

In [34]:
df_sorted

    Group Missing  Variant_Sites
0    alti      50          23821
1    alti      80          10323
2    alti      90           4175
3    alti      95           1199
4     grp      50           3224
5     grp      80            257
6     grp      90             45
7     grp      95             16
8   phylo      50          17845
9   phylo      80           7691
10  phylo      90           3575
11  phylo      95           2014

In [37]:
df_sorted.to_csv("denovo_snp_count.csv", index=False)