In [1]:

import numpy as np # array processing
import pandas as pd # table wrangling
from IPython.display import display

In [24]:
popmap_grp = pd.read_csv('/data/users/sousal/03_compare_methods/popmap-grp41.txt', sep="\t")
popmap_alt = pd.read_csv('/data/users/sousal/03_compare_methods/popmap-alt80.txt', sep="\t")
popmap_phy = pd.read_csv('/data/users/sousal/03_compare_methods/popmap-phylo29.txt', sep="\t")

display(popmap_alt.head(), popmap_grp.head(), popmap_phy.head())

    Sample    Pop
0  2062343  north
1  2062150  north
2  2062151  north
3  2062152  north
4  2062154  north

    Sample    Pop
0  3005842  Preit
1  3005924  Preit
2  3006949  Preit
3  3005899  Preit
4  3005912  Preit

   Sample   Pop
0   caes1  caes
1  caes12  caes
2   caes3  caes
3   caes7  caes
4   caes8  caes

In [25]:
popmap_grp['Sample']= popmap_grp['Sample'].astype(str)
popmap_alt['Sample']= popmap_alt['Sample'].astype(str)

In [26]:
#Open the mulitqc file from the fastqc stats
fastqc_raw_dart1 = pd.read_csv('/data/users/sousal/01_RAW/RAW_DART_alti_cali_sche2020/fastqc/multiqc_data/multiqc_fastqc.txt', sep='\t')
fastqc_raw_dart2 = pd.read_csv('/data/users/sousal/01_RAW/RAW_dart_DPetu22-7327/fastqc_raw/multiqc_data/multiqc_fastqc.txt', sep='\t')
fastqc_raw_dart_calib_merged = pd.read_csv('/data/users/sousal/03_compare_methods/02_calib_merged_raw/fastqc/multiqc_data/multiqc_fastqc.txt', sep='\t')

In [27]:
display(fastqc_raw_dart1.head(), fastqc_raw_dart2.head(), fastqc_raw_dart_calib_merged.head())

,Sample,Filename,File type,Encoding,Total Sequences,Sequences flagged as poor quality,Sequence length,%GC,total_deduplicated_percentage,avg_sequence_length,...,per_base_sequence_quality,per_tile_sequence_quality,per_sequence_quality_scores,per_base_sequence_content,per_sequence_gc_content,per_base_n_content,sequence_length_distribution,sequence_duplication_levels,overrepresented_sequences,adapter_content
0,2062150.FASTQ,2062150.FASTQ.gz,Conventional base calls,Sanger / Illumina 1.9,1892062.0,0.0,84.0,42.0,11.919342,84.0,...,pass,pass,pass,fail,pass,pass,pass,fail,fail,fail
1,2062151.FASTQ,2062151.FASTQ.gz,Conventional base calls,Sanger / Illumina 1.9,1949009.0,0.0,84.0,42.0,12.953897,84.0,...,pass,pass,pass,fail,pass,pass,pass,fail,fail,fail
2,2062152.FASTQ,2062152.FASTQ.gz,Conventional base calls,Sanger / Illumina 1.9,1566527.0,0.0,84.0,40.0,10.184628,84.0,...,pass,pass,pass,fail,warn,pass,pass,fail,fail,fail
3,2062153.FASTQ,2062153.FASTQ.gz,Conventional base calls,Sanger / Illumina 1.9,1623847.0,0.0,84.0,40.0,11.113878,84.0,...,pass,pass,pass,fail,warn,pass,pass,fail,fail,fail
4,2062154.FASTQ,2062154.FASTQ.gz,Conventional base calls,Sanger / Illumina 1.9,1744975.0,0.0,84.0,42.0,13.659069,84.0,...,pass,pass,pass,fail,pass,pass,pass,fail,fail,fail

,Sample,Filename,File type,Encoding,Total Sequences,Sequences flagged as poor quality,Sequence length,%GC,total_deduplicated_percentage,avg_sequence_length,...,per_base_sequence_quality,per_tile_sequence_quality,per_sequence_quality_scores,per_base_sequence_content,per_sequence_gc_content,per_base_n_content,sequence_length_distribution,sequence_duplication_levels,overrepresented_sequences,adapter_content
0,2986496.FASTQ,2986496.FASTQ.gz,Conventional base calls,Sanger / Illumina 1.9,544682.0,0.0,138.0,45.0,30.418949,138.0,...,pass,warn,pass,fail,warn,pass,pass,fail,fail,fail
1,2986497.FASTQ,2986497.FASTQ.gz,Conventional base calls,Sanger / Illumina 1.9,437205.0,0.0,138.0,47.0,22.825905,138.0,...,pass,warn,pass,fail,warn,pass,pass,fail,fail,fail
2,2986498.FASTQ,2986498.FASTQ.gz,Conventional base calls,Sanger / Illumina 1.9,460037.0,0.0,138.0,48.0,22.133927,138.0,...,pass,warn,pass,fail,warn,pass,pass,fail,fail,fail
3,2986499.FASTQ,2986499.FASTQ.gz,Conventional base calls,Sanger / Illumina 1.9,519842.0,0.0,138.0,45.0,30.352393,138.0,...,pass,warn,pass,fail,warn,pass,pass,fail,fail,fail
4,2986500.FASTQ,2986500.FASTQ.gz,Conventional base calls,Sanger / Illumina 1.9,294400.0,0.0,138.0,47.0,24.658628,138.0,...,pass,warn,pass,fail,warn,pass,pass,fail,fail,fail

,Sample,Filename,File type,Encoding,Total Sequences,Sequences flagged as poor quality,Sequence length,%GC,total_deduplicated_percentage,avg_sequence_length,...,basic_statistics,per_base_sequence_quality,per_sequence_quality_scores,per_base_sequence_content,per_sequence_gc_content,per_base_n_content,sequence_length_distribution,sequence_duplication_levels,overrepresented_sequences,adapter_content
0,caes1,caes1.fq.gz,Conventional base calls,Sanger / Illumina 1.9,1107532.0,0.0,123.0,48.0,36.290654,123.0,...,pass,pass,pass,fail,pass,pass,pass,fail,warn,fail
1,caes12,caes12.fq.gz,Conventional base calls,Sanger / Illumina 1.9,885144.0,0.0,123.0,45.0,25.420514,123.0,...,pass,pass,pass,fail,pass,pass,pass,fail,fail,fail
2,caes3,caes3.fq.gz,Conventional base calls,Sanger / Illumina 1.9,1110527.0,0.0,123.0,48.0,20.593240,123.0,...,pass,pass,pass,fail,fail,pass,pass,fail,fail,fail
3,caes7,caes7.fq.gz,Conventional base calls,Sanger / Illumina 1.9,1031950.0,0.0,123.0,46.0,25.482482,123.0,...,pass,pass,pass,fail,pass,pass,pass,fail,fail,fail
4,caes8,caes8.fq.gz,Conventional base calls,Sanger / Illumina 1.9,1077151.0,0.0,123.0,45.0,26.007268,123.0,...,pass,pass,pass,fail,warn,pass,pass,fail,fail,fail

In [28]:
#Remove .FASTQ from the Sample column
fastqc_raw_dart1['Sample'] = fastqc_raw_dart1['Sample'].str.replace('.FASTQ','', regex='False')
fastqc_raw_dart2['Sample'] = fastqc_raw_dart2['Sample'].str.replace('.FASTQ','', regex='False')

In [29]:
grp = pd.merge(popmap_grp, 
				fastqc_raw_dart2[['Sample', 'Total Sequences','Sequence length']],
				on = 'Sample',
				how= 'left')

alt = pd.merge(popmap_alt, 
				fastqc_raw_dart1[['Sample', 'Total Sequences','Sequence length']],
				on = 'Sample',
				how= 'left')
				
phy = pd.merge(popmap_phy, 
				fastqc_raw_dart_calib_merged[['Sample', 'Total Sequences','Sequence length']],
				on = 'Sample',
				how= 'left')

In [30]:
display(grp.head(),alt.head(),phy.head())

    Sample    Pop  Total Sequences  Sequence length
0  3005842  Preit         644150.0            138.0
1  3005924  Preit         439137.0            138.0
2  3006949  Preit         317025.0            138.0
3  3005899  Preit         595672.0            138.0
4  3005912  Preit         566754.0            138.0

    Sample    Pop  Total Sequences  Sequence length
0  2062343  north        1627460.0             84.0
1  2062150  north        1892062.0             84.0
2  2062151  north        1949009.0             84.0
3  2062152  north        1566527.0             84.0
4  2062154  north        1744975.0             84.0

   Sample   Pop  Total Sequences  Sequence length
0   caes1  caes        1107532.0            123.0
1  caes12  caes         885144.0            123.0
2   caes3  caes        1110527.0            123.0
3   caes7  caes        1031950.0            123.0
4   caes8  caes        1077151.0            123.0

In [34]:
alt['Group'] = 'ALT'
grp['Group'] = 'GRP' 
phy['Group'] = 'PHY'

df = pd.concat([grp,alt,phy]).reset_index(drop=True)
display(df)

      Sample    Pop  Total Sequences  Sequence length Group
0    3005842  Preit         644150.0            138.0   GRP
1    3005924  Preit         439137.0            138.0   GRP
2    3006949  Preit         317025.0            138.0   GRP
3    3005899  Preit         595672.0            138.0   GRP
4    3005912  Preit         566754.0            138.0   GRP
..       ...    ...              ...              ...   ...
145  send114   send        1051868.0            123.0   PHY
146  send117   send         970330.0            123.0   PHY
147  send121   send         980192.0            123.0   PHY
148   send54   send         987972.0            123.0   PHY
149    send9   send         900633.0            123.0   PHY

[150 rows x 5 columns]

In [35]:
df = df.rename(
    columns={'Total Sequences': 'Raw Total_Sequences',
			'Sequence length': 'Raw Sequence length'}
)
df.head()

    Sample    Pop  Raw Total_Sequences  Raw Sequence length Group
0  3005842  Preit             644150.0                138.0   GRP
1  3005924  Preit             439137.0                138.0   GRP
2  3006949  Preit             317025.0                138.0   GRP
3  3005899  Preit             595672.0                138.0   GRP
4  3005912  Preit             566754.0                138.0   GRP

In [33]:
fastqc_filtered_l60 = pd.read_csv('/data/users/sousal/03_compare_methods/02_filtered-adaptor-rmv-q30-l60-L60/fastqc/multiqc_data_1/multiqc_fastqc.txt', sep='\t')

In [40]:
df_GRP = df[df['Group']== 'GRP'].reset_index(drop=True)
df_GRP.head()

    Sample    Pop  Raw Total_Sequences  Raw Sequence length Group
0  3005842  Preit             644150.0                138.0   GRP
1  3005924  Preit             439137.0                138.0   GRP
2  3006949  Preit             317025.0                138.0   GRP
3  3005899  Preit             595672.0                138.0   GRP
4  3005912  Preit             566754.0                138.0   GRP

In [47]:
fastqc_filtered_l100 = pd.read_csv('/data/users/sousal/03_compare_methods/02_filtered-adaptor-rmv-q30-l100/fastqc/multiqc_data/multiqc_fastqc.txt', sep='\t')
fastqc_filtered_l100['Sample']= fastqc_filtered_l100['Sample'].astype(str)

In [45]:
df_GRP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sample               41 non-null     object
 1   Pop                  41 non-null     object
 2   Raw Total_Sequences  41 non-null     float64
 3   Raw Sequence length  41 non-null     float64
 4   Group                41 non-null     object
dtypes: float64(2), object(3)
memory usage: 1.7+ KB

In [48]:
df_GRP_2 = pd.merge(df_GRP,
							 fastqc_filtered_l100[['Sample','Total Sequences', 'Sequence length']],
							 on= 'Sample',
							 how='left')
df_GRP_2.head()

,Sample,Pop,Raw Total_Sequences,Raw Sequence length,Group,Total Sequences,Sequence length
0,3005842,Preit,644150.0,138.0,GRP,139424.0,100.0
1,3005924,Preit,439137.0,138.0,GRP,158589.0,100.0
2,3006949,Preit,317025.0,138.0,GRP,108514.0,100.0
3,3005899,Preit,595672.0,138.0,GRP,210974.0,100.0
4,3005912,Preit,566754.0,138.0,GRP,281357.0,100.0

In [52]:
df_ALT_PHY = df[df['Group'] != 'GRP'].reset_index(drop=True)
df_ALT_PHY.head()

    Sample    Pop  Raw Total_Sequences  Raw Sequence length Group
0  2062343  north            1627460.0                 84.0   ALT
1  2062150  north            1892062.0                 84.0   ALT
2  2062151  north            1949009.0                 84.0   ALT
3  2062152  north            1566527.0                 84.0   ALT
4  2062154  north            1744975.0                 84.0   ALT

In [53]:
fastqc_filtered = pd.read_csv('/data/users/sousal/03_compare_methods/02_filtered-adaptor-rmv-q30-l60-L60/fastqc/multiqc_data_1/multiqc_fastqc.txt', sep='\t')

In [54]:
df_ALT_PHY_2 = pd.merge(df_GRP,
							 fastqc_filtered[['Sample','Total Sequences', 'Sequence length']],
							 on= 'Sample',
							 how='left')
df_GRP_2.head()

,Sample,Pop,Raw Total_Sequences,Raw Sequence length,Group,Total Sequences,Sequence length
0,3005842,Preit,644150.0,138.0,GRP,139424.0,100.0
1,3005924,Preit,439137.0,138.0,GRP,158589.0,100.0
2,3006949,Preit,317025.0,138.0,GRP,108514.0,100.0
3,3005899,Preit,595672.0,138.0,GRP,210974.0,100.0
4,3005912,Preit,566754.0,138.0,GRP,281357.0,100.0

In [56]:
df_2 = pd.concat([df_GRP_2, df_ALT_PHY_2]).reset_index(drop=True)
df_2.head()

,Sample,Pop,Raw Total_Sequences,Raw Sequence length,Group,Total Sequences,Sequence length
0,3005842,Preit,644150.0,138.0,GRP,139424.0,100.0
1,3005924,Preit,439137.0,138.0,GRP,158589.0,100.0
2,3006949,Preit,317025.0,138.0,GRP,108514.0,100.0
3,3005899,Preit,595672.0,138.0,GRP,210974.0,100.0
4,3005912,Preit,566754.0,138.0,GRP,281357.0,100.0

In [57]:
df_ordem=['Group', 'Sample', 'Pop', 'Raw Total_Sequences','Raw Sequence length','Total Sequences','Sequence length']
df_2 = df_2[df_ordem]
df_2 = df_2.rename(columns={'Total Sequences': 'Filtered Reads',
			'Sequence length': 'Filtered Sequence length (pb)'})
df_2.head()

,Group,Sample,Pop,Raw Total_Sequences,Raw Sequence length,Filtered Reads,Filtered Sequence length (pb)
0,GRP,3005842,Preit,644150.0,138.0,139424.0,100.0
1,GRP,3005924,Preit,439137.0,138.0,158589.0,100.0
2,GRP,3006949,Preit,317025.0,138.0,108514.0,100.0
3,GRP,3005899,Preit,595672.0,138.0,210974.0,100.0
4,GRP,3005912,Preit,566754.0,138.0,281357.0,100.0

In [58]:
df_2.to_csv("Table-RAw-filtered-reads-csv", index=False)